@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}


#headerContainer {
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.8),
                    rgba(0, 0, 0, 0.8)
            ),
            url("../img/code.jpg") no-repeat top center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 900px;
    position: relative;
}

#headerContactIcons {
    width: 60px;
    margin: 0 auto;
    text-align: center;
}

.hdrIcons > a{
    width: 50px;
    height: 50px;

}

.hdrIcons {
    width: 50px;
    margin: 0 auto;
    display:inline-block;
    z-index: 6;
}

#icon1 {
    position:absolute;
    top: 10px;
    right: 10px;
}

#icon2 {
    position:absolute;
    top: 80px;
    right: 10px;
}

#icon3 {
    position:absolute;
    top: 150px;
    right: 10px;
}

#icon4 {
    position:absolute;
    top: 220px;
    right: 10px;
}

#icon5 {
    position:absolute;
    top: 290px;
    right: 10px;
}

#logoCircle {
    width:100px;
    height: 100px;
    /*display: table;*/
    border-radius: 50%;
    border: 10px solid #337ab7;
    background-color: #fff;
    color: #337ab7;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Lobster', cursive;
    font-size: 5em;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    z-index: 3;
}

nav > a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

#menuClick{
    margin: 0 auto;
    text-align: center;
    color: #a0a0a0;
    padding-top: 120px;
}

#menuContainer {
    border: 50px solid #337ab7;
    width: 600px;
    height: 500px;
    border-radius: 100%;
    margin: 0 auto;
    position: absolute;
    top: -325px;
    left: 50%;
    margin-left: -350px;
    display: none;
    z-index: 2;
}

.menuBtn {
    color: #ffffff;
    text-align: center;
    width: 90px;
    padding: 10px 10px 5px 10px;
}

#contactBtn {
    position: absolute;
    -webkit-transform: rotate(44deg); /* Safari and Chrome */
    -moz-transform: rotate(44deg);   /* Firefox */
    -ms-transform: rotate(44deg);   /* IE 9 */
    -o-transform: rotate(44deg);   /* Opera */
    transform: rotate(44deg);
}

#aboutBtn {
    position: absolute;
    -webkit-transform: rotate(22deg); /* Safari and Chrome */
    -moz-transform: rotate(22deg);   /* Firefox */
    -ms-transform: rotate(22deg);   /* IE 9 */
    -o-transform: rotate(22deg);   /* Opera */
    transform: rotate(22deg);
}

#portfolioBtn {
    position: absolute;
    -webkit-transform: rotate(-20deg); /* Safari and Chrome */
    -moz-transform: rotate(-20deg);   /* Firefox */
    -ms-transform: rotate(-20deg);   /* IE 9 */
    -o-transform: rotate(-20deg);   /* Opera */
    transform: rotate(-20deg);
}

#blogBtn {
    position: absolute;
    -webkit-transform: rotate(-45deg); /* Safari and Chrome */
    -moz-transform: rotate(-45deg);   /* Firefox */
    -ms-transform: rotate(-45deg);   /* IE 9 */
    -o-transform: rotate(-45deg);   /* Opera */
    transform: rotate(-45deg);
}

/*---------mobile nav bar---------*/

#mobileNav {
    background-color: #337ab7;
    width: 100%;
    margin: 0 auto;
    height: auto;
    text-align: center;
    display:none;
}

.mobileNavBtn {
    color: white;
    display: inline-block;
    list-style: none;
    margin: 0 auto;
    width: 100px;
    padding: 15px;
}
/*---------------------------*/
#welcomeContainer {
    color: #337ab7;
    width: 60%;
    max-width: 843px;
    margin: 0 auto;
    text-align: center;
    padding: 150px;
    position: relative;
}

#welcomeContainer  h1 {
    font-size: 5em;
    font-family: 'Lobster', cursive;
}

#welcomeContainer  h2 {
    font-size: 4em;
    color: #a0a0a0;
}

#welcomeContainer  p {
    font-size: 2em;
    color: #337ab7;
}

#welcome {
    display: none;
}

#nameSay{
    position: absolute;
    left: 1%;
    top: -500px;
    display:none;
}

h2#larry{
    color: #fff;
}


#intro {
    padding-top: 8.8em;
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#intro a:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.unactiveSec {
    position: relative;
}

.unactiveSec:after {
    background:
            linear-gradient(
                    rgba(0, 0, 0, 1),
                    rgba(0, 0, 0, 1)
            );
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    opacity: .6;
}

#aboutSec {
    width: 85%;
    max-width: 1280px;
    height: 400px;
    margin: 0 auto;
    padding: 50px 0;
    position: relative;
}

#aboutInfo {
    width: 45%;
    padding: 0 35px;
    text-align: center;
    display: none;
}

#aboutInfo p {
    line-height: 140%;
}

#resumebtn {
    padding: 15px;
    background-color: #337ab7;
    color: white;
    width: 100px;
    margin: 40px auto 0 auto;
    border-radius: 5px;
}

section h1 {
    font-size: 4em;
    color: #337ab7;
    font-family: 'Lobster', cursive;
    text-align: center;
}

#aboutPic {
    width: 45%;
    position: absolute;
    display: inline-block;
    top: 60px;
    left: 0;
    z-index: 1;
}
#skillSec {
    width: 100%;
    text-align: center;
    padding: 50px 0;
    background-color: #dddddd;
}

.skillImg {
    width: 20%;
    display: inline-block;
    padding-top: 20px;
}

#blogBack {
    background-color: #cccccc;
}

#blogSec {
    width: 85%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 0;
}

#blog {
    width: 65%;
    display: inline-block;
    padding: 0 35px;
    text-align: center;
}

#blogInfo {
    width: 15%;
    display: inline-block;
    padding: 0 35px;
    text-align: center;
    vertical-align: top;
}

#blogInfo>h2 {
    font-size: 2.5em;
    color: #337ab7;
    font-family: 'Lobster', cursive;
}

.portfolioSlider {
    width: 100%;
    max-width: 1480px;
    margin: 40px auto 80px auto;
    color: #337ab7;
    font-size: 1.5em;
    text-align: center;

}

#portBack {
    padding: 5px 0;
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.8),
                    rgba(0, 0, 0, 0.8)
            ),
            url("../img/close-code.jpg") no-repeat top center fixed;
    background-size: cover;
    margin: 0;

}

tags {
    color: white;
    background-color: rgba(51, 122, 183, 0.51);
    margin: 10px;
}

.git {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}


#contactSec {
    width: 85%;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 50px;
}

#contactInfo {
    width: 65%;
    vertical-align: top;
    margin: 0 auto;
    text-align: center;
}

#contactInfo h2{
    margin: 20px auto;
}

#contactInfo a {
    text-decoration: none;
}

#iconContainer {
    width: 100%;
    margin: 40px auto;
}

.icons {
    display: inline-block;
    width: 20%;
    margin: 0;
    padding: 0 6%
}

h5 {
    text-align: center;
    font-size: .75em;
    word-wrap: break-word;
}

#formContainer {
    width: 66%;
    margin: 0 auto;
    display: none;  /*removed for now*/
}

form {
    margin: 40px auto 0 auto;
    display: table;
}

form p {
    display: table-row;
}

label {
    display: table-cell;
    font-size: 1.4em;
}

input {
    display: table-cell;
    width: 400px;
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
}

textarea {
    width: 100%;
    height: 130px;
    margin-top: 40px;
    border: 1px solid black;
}

#infoLabel{
    vertical-align: top;
    padding-top: 40px;
}

#formSubmit {
    border: 2px solid black;
    margin: 20px auto;
    padding: 10px 30px;
    width: 100px;
    background-color: #cccccc;
    border-radius: 5%;
    font-size: 1em;
}

footer {
    height: 100px;
    text-align: center;
    margin-top: 100px;
    width: 100%;
}

footer ul {
    display: inline-block;
}

footer li {
    list-style: none;
    margin: 5px auto;
    display: inline-block;
    width: 100px;
}

/* -----media queries-----*/


@media screen and (max-width: 850px) {
    #aboutInfo {
        width: 80%
    }

    #aboutPic {
        width: 80%;
        position: relative;
        margin: 30px auto;
    }

    #aboutSec {
        height: auto;
        text-align: center;
    }

    #blog {
        width: 80%;
    }

    #blogInfo {
        display: none;
    }

    .skillImg {
        width: 28%
    }
}

@media screen and (max-width: 725px) {
    #logoCircle {

    }

    #welcomeContainer {
        padding: 50px;
        width: 80%;
    }

    #welcomeContainer h2 {
        font-size: 3.5em;
    }

    .skillImg {
        width: 35%;
    }

    #formContainer {
        display: none;
    }

    .portfolioSlider {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 535px) {
    .mobileNavBtn {
        width: 80px;
    }

    #welcomeContainer {
        width: 85%;
        padding: 50px 0;
    }

    #aboutSec {
        width: 100%;
    }

    #aboutInfo {
        width: 95%;
        padding: 5px;
    }

    #aboutPic {
        width: 95%;
    }

    .skillImg {
        width: 45%;
    }

    #blogSec {
        width: 100%;
        text-align: center;
    }

    #blog {
        width: 95%;
        padding: 5px;
    }

    #contactSec {
        width: 100%;
    }

    #contactInfo {
        width: 95%;
    }

    .portfolioSlider {
        font-size: 1em;
    }
}

@media screen and (max-width: 460px) {
    .mobileNavBtn {
        width: 74px;
        padding: 10px;
    }

    #welcomeContainer {
        width: 95%
    }

    #welcomeContainer  h1 {
        font-size: 4em;
    }

    #welcomeContainer  h2 {
        font-size: 3em;
    }

    #welcomeContainer  p {
        font-size: 1.7em;
    }

    #intro {
        padding-top: 6.8em;
    }

    .hdrIcons {
        width: 35px;
        margin: 0 auto;
        display:inline-block;
        z-index: 6;
    }

    #icon2 {
        position:absolute;
        top: 65px;
        right: 10px;
    }

    #icon3 {
        position:absolute;
        top: 120px;
        right: 10px;
    }

    #icon4 {
        position:absolute;
        top: 175px;
        right: 10px;
    }

    #icon5 {
        position:absolute;
        top: 230px;
        right: 10px;
    }


}

@media screen and (max-width: 390px) {
    .mobileNavBtn {
        width: 67px;
        padding: 5px;
        font-size: .9em;
    }

    #welcomeContainer {
        width: 95%
    }

    #welcomeContainer  h1 {
        font-size: 3.5em;
    }

    #welcomeContainer  h2 {
        font-size: 2.5em;
    }

    #welcomeContainer  p {
        font-size: 1.2em;
    }

    #intro {
        padding-top: 6.3em;
    }
}